@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideLeftAnimation {
  0%,
  100% {
    transform: translateY(31px) rotate(-3deg) translateX(-8px);
  }
  50% {
    transform: translateX(0) rotate(0deg) translateX(0);
  }
}

@keyframes slideRightAnimation {
  0%,
  100% {
    transform: rotate(-4deg) translateY(39px) translateX(-13px);
  }
  50% {
    transform: rotate(0deg) translateY(0px) translateX(0px);
  }
}

@keyframes slideBarAnimation {
  0%,
  100% {
    transform: translateY(29px) rotate(-3deg) translateX(-7px);
  }
  50% {
    transform: translateY(0px) translateX(0) rotate(0deg);
  }
}

@keyframes slideRectAnimation {
  0%,
  100% {
    transform: matrix(0.993829, -0.110922, 0.111728, 0.993739, 493.735, 367.758)
      translateY(4px) rotate(0deg) translateX(10px);
  }
  50% {
    transform: matrix(0.993829, -0.110922, 0.111728, 0.993739, 493.735, 367.758)
      translateY(0px) rotate(0deg) translateX(0px);
  }
}

#left-bar {
  animation: slideLeftAnimation 2s infinite;
}
#right-bar {
  animation: slideRightAnimation 2s infinite;
}
#rect-bar {
  animation: slideRectAnimation 2s infinite;
}
#bar {
  animation: slideBarAnimation 2s infinite;
}
